<h2>тЬПя╕П роиро┐родро┐ родро┐ро░рпБродрпНродроорпН</h2>

<%= form_with model: @fund, local: true do |f| %>

  <div>
    <label>рокрпЖропро░рпН</label><br>
    <%= f.text_field :name, required: true %>
  </div>

  <br>

  <div>
    <label>рокроХрпБродро┐</label><br>
    <%= f.text_field :area, required: true %>
  </div>

  <br>

  <div>
    <label>родрпКроХрпИ (тВ╣)</label><br>
    <%= f.number_field :amount, required: true %>
  </div>

  <br>

  <div>
    <label>рокрогроорпН роЪрпЖро▓рпБродрпНродрпБроорпН роорпБро▒рпИ</label><br>
    <%= f.select :payment_mode, ["cash", "phonepe"] %>
  </div>

  <br>

  <%= f.submit "ЁЯТ╛ рокрпБродрпБрокрпНрокро┐роХрпНроХ" %>

<% end %>

<hr>

<%= link_to "ЁЯФЩ роиро┐родро┐ рокроЯрпНроЯро┐ропро▓рпН", fund_collections_path %>
