<h2>ЁЯЫХ роХрпЛро╡ро┐ро▓рпН роиро┐родро┐ ро╡роЪрпВро▓рпН роЕро▒ро┐роХрпНроХрпИ</h2>

<p>
  родрпЗродро┐ : <%= Date.today.strftime("%d-%m-%Y") %>
</p>

<table>
  <thead>
    <tr>
      <th>рокрпЖропро░рпН</th>
      <th>роКро░рпН</th>
      <th>родрпКроХрпИ (тВ╣)</th>
      <th>рокрогроорпН роЪрпЖро▓рпБродрпНродрпБроорпН роорпБро▒рпИ</th>
      <th>родрпЗродро┐</th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.name %></td>
        <td><%= fund.area %></td>
        <td><%= fund.amount %></td>
        <td><%= fund.payment_mode.capitalize %></td>
        <td><%= fund.created_at.strftime("%d-%m-%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="total">
  роорпКродрпНрод роиро┐родро┐ : тВ╣ <%= @funds.sum(&:amount) %>
</p>
