<h2>тЮХ рокрпБродро┐роп роиро┐родро┐ роЪрпЗро░рпНроХрпНроХ</h2>

<%= form_with model: @fund, local: true do |f| %>

  <div>
    <label>рокрпЖропро░рпН</label><br>
    <%= f.text_field :name, required: true %>
  </div>

  <br>

  <div>
    <label>роКро░рпН</label><br>
    <%= f.text_field :area, required: true %>
  </div>

  <br>

  <div>
    <label>родрпКроХрпИ (тВ╣)</label><br>
    <%= f.number_field :amount, required: true %>
  </div>

  <br>

  <div>
    <label>рокрогроорпН роЪрпЖро▓рпБродрпНродрпБроорпН роорпБро▒рпИ</label><br>
    <%= f.select :payment_mode, ["cash", "phonepe"], prompt: "родрпЗро░рпНро╡рпБ роЪрпЖропрпНроХ" %>
  </div>

  <br>

  <%= f.submit "ЁЯТ╛ роЪрпЗрооро┐роХрпНроХ" %>

<% end %>

<hr>

<!-- ЁЯФЩ View Fund Option -->
<%= link_to "ЁЯУЛ роиро┐родро┐ рокроЯрпНроЯро┐ропро▓рпН рокро╛ро░рпНроХрпНроХ", fund_collections_path %>
